* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    min-height: 100vh;
}


.container h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
}


.item {
    width: 200px;
    text-align: center;
}


.flex-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}


.item img {
    width: 100%;
    max-width: 100px;
    height: 100px;
}

