* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.flex-container {
    background-color: dodgerblue;
    border: 4px solid midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}


.flex-item {
    border: 6px solid maroon;
    background-color: pink;
    font-weight: bold;
    height: 80px;
    width: 80px;
    text-align: center;
}