@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
  }
  

.header,
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 13px;
}


ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}


li a {
    text-decoration: none;
    color: #666;
}



.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 16px;
}


.content img {
    width: 100%;
    max-width: 600px;
}


.content input {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    outline: none;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 8px 24px;
}


.content button {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    margin: 5px;
    background: #eee;
    font-family: Roboto, sans-serif;
}



.footer {
    background: #eee;
}