* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.flex-container {
   color: #fff;
}


.menu-container {
    background-color: #5995da;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}


.signup {
    margin-left: auto;
}


.login {
   margin-left: 20px; 
}


.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}


.header {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social,

.subscribe {
    margin-bottom: 20px;
    align-self: flex-end;
}



.photo-grid-container {
    display: flex;
    justify-content: center;
}


.photo-grid {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.first-item {
    order: 1;
}

.last-item {
    order: -1;
}


.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}



.footer {
    display: flex;
    justify-content: space-between;
}


.footer-item {
    border: 1px solid #fff;
    background-color: #d6e9fe;
    height: 200px;
    flex: 1;
}


.footer-one,
.footer-three {
    background-color: #5995da;
    flex: initial;
    width: 300px;
}