.first-color {
    background-color: black;
    color: white;
}

.second-color {
    background-color: yellow;
    color: black;
}


.first-color,
.second-color {
    font-family: Helvetica,"Times New Roman", sans-serif;
    font-size: 28px;

}
